*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Arial';
}

body {
  display:flex;
  align-items: center;
  width:100%;
  height:100vh;
  flex-direction: column; 
  background: rgb(255, 255, 255);
  padding-bottom: 2rem;
  overflow: auto;
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  max-width: 600px;
  gap: 1rem;
  padding-bottom: 2rem;
}

.navigation a {
  text-decoration: none;
  width: 100%;
  height: 2rem;
  background: rgb(235, 235, 235);
  color: #000;
  box-shadow:
  inset -1px -1px 3px 1px rgb(153, 153, 153),
  inset 1px 1px 3px 1px rgb(243, 243, 243);
  display:flex;
  justify-content: center;
  align-items: center;

}

.logo-index{
  width: 150px;
}

.title-index{
  margin-bottom: 1rem;
}


@media screen and (max-width: 450px) {
  .navigation {
    width: 95%;
  }
  .navigation {
    display: grid;
    grid-template-columns: 1fr;
    width: 95%;
  }
  
}