
@media print {
  .navigation,
  .form-search {
    display:none !important;
  }

  .table-container {
    width: 95% !important;
  }
  .table-container table{
    width: 100% !important;
  }
}

@media print and (color) {
  *{
    -webkit-print-color-adjust:exact;
  }
}
