
@media print {
  .navigation,
  .form-search {
    display:none !important;
  }

  .title-table {
    display:none !important;
  }

  caption{
    display: table-caption !important;
  }

  .table-container {
    width: 95% !important;
  }
  .table-container table{
    width: 100% !important;
  }

  .hide-button {
    display: none;
  }
}

@media print and (color) {
  *{
    -webkit-print-color-adjust:exact;
  }
}
